/////////////////////   FORMS  /////////////////


form {
    margin: 0;
    padding: 0;
    text-align: center;
    
}

label {
    font-family: $font2;
    text-align: center;
    font-size: 1.5em;
    color: $grey;
    text-transform: uppercase;
    line-height: 1.5em;
}

input[type="email"],
input[type="password"]{
    text-align: center;
    font-family: $font2;
    width: auto;
    background: white;
    padding: 0.5em;
    border: none;
    font-size: 2em;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
}


.form-group{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-group h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="datetime"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="search"],
.form-group input[type="time"],
.form-group input[type="url"],
.form-group input[type="password"],
.form-group textarea,
.form-group select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-group textarea{
    resize:none;
    overflow: hidden;
}
.form-group input[type="button"], 
.form-group input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: $orange;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-group input[type="button"]:hover, 
.form-group input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#ca6834;
}

